

div{
    position: relative;
}

#inside{
    background: url(./Assets/inside2.png);
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
}




#inside2{
    background: url(./Assets/inside1.png);
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 8;
}



#outside{
    background: url(./Assets/newmapoutside.bmp);
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 7;
}


#cave{
    background: url(./Assets/cave.png);
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 6;
}



#outside2{
    background: url(./Assets/outside2.png);
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}


#gym{
    background: url(./Assets/gym\ floor.png);
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
}
